
.main-header {
  width: 100%;
  background: #000;
  padding: 30px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-header__brand {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 26px;
}

.main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.main-nav__item {
  margin: 0 16px;
}

.main-nav__item a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  padding: 3px 0;
}

.main-nav__item a:hover,
.main-nav__item a:active {
  color: #888;
  border-bottom: 5px solid #888;
}

.main-nav__item--cta a {
  color: #fff;
  background: #ff1b68;
  padding: 8px 16px;
  border-radius: 8px;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active {
  color: #ff1b68;
  background: #fff;
  border: none;
}



.main-footer {
  background: #000;
  padding: 32px;
}

.main-footer__links {
  display: flex;
  justify-content: center;
  text-align: center;
}

.main-footer__link {
  margin: 0 16px;
}

.main-footer__link a {
  color: #fff;
  text-decoration: none;
}

.main-footer__link a:hover,
.main-footer__link a:active {
  color: #ccc;
}